.forecast-summary {
  font-size: 25px;
  padding: 15px;
  background-color: rgba(240, 248, 255, 0.06);
  border-inline: solid rgba(184, 180, 180, 0.523) 2px;
  border-radius: 10px;
  min-inline-size: 140px;
}

.forecast-summary__icon>i {
  font-size: 50px;
  padding: 20px;
}

.forecast-summary>button {
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
  border: solid rgba(245, 245, 245, 0.406) 1px;
  transition-property: background-color, color, filter;
  transition-duration: .3s;
  letter-spacing: 2px;
  min-width: 130px;
  font-weight: 500;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.18);
  height: 48px;
}

.forecast-summary>button:hover {
  color: rgba(255, 255, 255, 0.774);
  border-color: rgba(255, 255, 255, 0.774);
  background-color: #25272895;
}