
.forecast-details > * {
padding-block-start: 10px;
font-weight: 600;
text-align: center;
font-size: 1.5rem;
}

.forecast-details__temperature > *:first-of-type {
  padding-block-end: 10px;
  margin-block-start: -20px;
}
