@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(205, 203, 203);
  color: rgba(0, 0, 0, 0.472);
}

code {
  font-family: 'Outfit', sans-serif;
}

