@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../../images/sunset-sky2.avif");
  background-size: cover;
  background-color: rgb(123, 54, 131);
  color: rgba(248, 248, 248, 0.692);
}

@media (max-width:700px) {
  body {
    background-color: rgb(123, 54, 131);
    background-image: none;
  }
}