.search-form {
  margin: 0px;
  width: 50%;
  height: 40px;
  display: inline-block;
}

.search-form>input {
  width: 80%;
  height: 100%;
  box-sizing: border-box;
  border: solid rgba(245, 245, 245, 0.406) 1px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgba(189, 190, 191, 0.248);
  font: inherit;
  font-size: 32px;
  color: inherit;
  text-align: center;
}


.search-form>button {
  width: 15%;
  height: 100%;
  border: solid rgba(245, 245, 245, 0.406) 1px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(189, 190, 191, 0.248);
  vertical-align: top;
  font: inherit;
  cursor: pointer;
  color: inherit;
  line-height: 1.5;
  font-size: 30px;
}

.search-form>button:hover {
  color: rgba(255, 255, 255, 0.774);
  border-color: rgba(255, 255, 255, 0.774);
  background-color: #25272895;
}

@media (max-width:650px) {
  .search-form {
    display: inline;
  }

  .search-form>button {
    height: 44px;
    text-align: left;
  }

  .search-form>button>*{
    margin-left: -20px;
  }

  .search-form>input {
    height: 44px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}