.search-form {
  margin: 0px;
  width: 50%;
  height: 40px;
  display:inline-block;
}

.search-form>input {
  width: 80%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  border: solid rgba(245, 245, 245, 0.406) 1px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgba(189, 190, 191, 0.248);
  font: inherit;
  font-size: 2rem;
  color: inherit;
  text-align: center;
}

.search-form > button {
  width: 10%;
  height: 100%;
  border: solid rgba(245, 245, 245, 0.406) 1px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0;
  vertical-align: top;
  background-color: rgba(189, 190, 191, 0.248);
  font: inherit;
  cursor: pointer;
}
.search-form > button:hover {
  color: rgba(255, 255, 255, 0.774);
  border-color: rgba(255, 255, 255, 0.774);
  background-color: #25272895;
}